In [2]:
print("Lorem ipsum dolor sit amet, consectetur adipiscing elit,")
print("sed do eiusmod tempor incididunt ut labore")
print("et dolore magna aliqua.")

Lorem ipsum dolor sit amet, consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua.

In [16]:
x = 1 #int
x1 = 1.15 #float
x2 = "jeden" #str
x3 = 1 == 2 #bool (true lub false)

typy_danych = {x, x1, x2, x3}
print(typy_danych)

{'jeden', 1, 1.15, False}

In [17]:
a = 15
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b) 
print(a ** b)

20
10
75
3.0
0
759375

In [18]:
c = 3
d = 3.7
print(c == d) 
print(c != d) 
print(c > d)
print(c < d)
print(c >= d)
print(c <= d)

False
True
False
True
False
True

In [24]:
zmienna1 = "Miłego"
zmienna2 = "Dnia"
print(zmienna1, "<- pierwsza zmienna | druga zmienna->", zmienna2)

Miłego <- pierwsza zmienna | druga zmienna-> Dnia